<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="p-grid p-justify-between p-align-center">
  <div class="p-col"><h2>Materiales por Tratamiento</h2></div>
  <div class="p-col-fixed">
    <p-button
      label="Nuevo"
      icon="pi pi-plus"
      routerLink="/treatment-materials/new"
      styleClass="p-button-success"
    ></p-button>
  </div>
</div>

<p-table
  [value]="tms"
  [loading]="loading"
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10,25,50]"
  styleClass="p-datatable-striped"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon></th>
      <th pSortableColumn="tmTreatment">
        Tratamiento ID<p-sortIcon field="tmTreatment"></p-sortIcon>
      </th>
      <th pSortableColumn="tmMaterial">Material ID<p-sortIcon field="tmMaterial"></p-sortIcon></th>
      <th pSortableColumn="tmQuantity">Cantidad<p-sortIcon field="tmQuantity"></p-sortIcon></th>
      <th style="width: 10rem">Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-tm>
    <tr>
      <td>{{ tm.id }}</td>
      <td>{{ tm.tmTreatment }}</td>
      <td>{{ tm.tmMaterial }}</td>
      <td>{{ tm.tmQuantity }}</td>
      <td>
        <span class="p-button-group">
          <p-button
            icon="pi pi-pencil"
            pTooltip="Editar"
            tooltipPosition="top"
            styleClass="p-button-rounded p-button-info p-mr-1"
            [routerLink]="['/treatment-materials/edit', tm.id]"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            pTooltip="Eliminar"
            tooltipPosition="top"
            styleClass="p-button-rounded p-button-danger"
            (click)="confirmDelete(tm)"
          ></p-button>
        </span>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="5">Sin registros</td>
    </tr>
  </ng-template>
</p-table>
