<p-toast></p-toast>

<div class="p-grid p-justify-center">
	<div class="p-col-12 p-md-6">
		<p-card>
			<ng-template pTemplate="title">Nueva Historia Dental</ng-template>
			<form [formGroup]="form" (ngSubmit)="onSubmit()">
				<div class="p-fluid p-formgrid p-grid">
					<div class="p-field p-col-12">
						<label for="historyPatient">Paciente</label>
						<p-select [options]="patients" optionLabel="patientName" optionValue="id" formControlName="historyPatient" placeholder="Seleccione paciente"></p-select>
					</div>

					<div class="p-field p-col-12">
						<label for="historyAnamnesis">Anamnesis</label>
						<textarea id="historyAnamnesis" rows="4" pInputText formControlName="historyAnamnesis"></textarea>
					</div>
				</div>

				<div class="p-d-flex p-jc-end">
					<p-button label="Cancelar" class="p-button-text" (click)="cancel()"></p-button>
					<p-button label="Guardar" type="submit" [loading]="saving" class="p-ml-2"></p-button>
				</div>
			</form>
		</p-card>
	</div>
</div>
